/* RULES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content:"";
    display: table;
    clear:both;
}
body{
    
    font-family: ;
    font-size: ;
}

/* debug rules */
.presettings header{
    height: 140px;
   
    
}
.presettings main{
    
    height: 2000px;
}
.presettings footer{
    background-color: rgb(218, 216, 132);
    height: 400px;
}

/* UTILITY RULES */
.container{
    width:80%;
    margin:auto;
}
.body{
    
}
.info_lan{
    height: 70px;
    background-color:  aliceblue;
    padding-top: 15px;
}
.main_info{
    height: 70px;
    background-color:white;
}
/* HEADER */
/* first nav bar */

.left_menu{
    float:left;
    
}
.right_menu{
    float:right;
}
ul{
    list-style-type: none;
}
li{
    padding: 15px;
}
li:first-child{
    padding: 0;
}
.left_menu ul li{
    display: inline-block;
    color: black;
    cursor: pointer;
}
.right_menu ul li{
    display: inline-block;
    /* color: rgb(119, 38, 38); */
    cursor: pointer;
    /* border: 1px solid red; */
  
}

/* Second nav bar*/


.main_menu ul li{
    display: inline-block;
    /* color: black; */
    cursor: pointer;
    
}
.logo{
    float: left;
    padding-top: 20px;
}
.main_menu{
    float:right;

}
.login_btn{
    background-color:white;
    font-weight: 600;
    border: 1px solid #b96e45;;
    color: #b96e45;
    padding: 40px;
    border-radius: 5px;
}
.free_btn{
    color: white;
    border: 1px solid  #b96e45;
    background-color: #b96e45;
    padding: 10px;
    border-radius: 5px;
}
.section_one{
    position: relative;
    width: 45%;
}
#site_main, .section_one{
    background-image: url(./img/jumbotron.png);
    background-size: 2000px;
    background-repeat: no-repeat;   
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    position: absolute;
    left: 185px;
    top: 50px;
}
.section_one p{
    position: absolute;
    float: left;
    left: 185px;
    top: 200px;
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.section_one a{
    text-decoration: none;
    position: absolute;
    left: 185px;
    top: 300px;
    color: white;
    border: 1px solid  #b96e45;
    background-color: #b96e45;
    padding: 20px;
    border-radius: 5px;
}
.last_info_sct_one{
   margin-top: 200px;
}