/* RULES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: aquamarine;
    font-family: ;
    font-size: ;
}

/* debug rules */
.presettings header{
    
    height: 600px;
    background-image: url(./img/jumbotron.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    object-fit: cover;
}
.presettings main{
    background-color: rgb(22, 48, 97);
    height: 2000px;
}
.presettings footer{
    background-color: rgb(218, 216, 132);
    height: 400px;
}

/* UTILITY RULES */
.container{
    width:80%;
    margin:auto;
}

/* HEADER */
#site_header, .left_menu a {
    color: black;
    text-decoration: none;
    font-size:10px;
    display: block;
}
